@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400;1,700&display=swap');

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #BDE6F1;
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);    
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    animation: gradient 5s infinite linear;
    background-size: 400%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: yellow 3px solid;
}

@keyframes gradient {
    0% {background-position: 80%, 0%;}
    50% {background-position: 20%, 100%;}
    100% {background-position: 80%, 0%;}
}

.carousel {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    perspective: 1500px;
    border: red 3px solid;
}

.headerContainer {
    display: flex;
    justify-content: center;
}

.header {
    font-family: 'Merriweather', serif;
    font-size: 50px;
    letter-spacing: 3px;
    color: red;
    text-shadow: 3px 3px #293462;
}

.carouselCards {
    position: relative;
    width: 650px;
    height: 400px;
    transform-style: preserve-3d;
    transform: translateZ(-500px);
    transition: transform 0.3s ease-in;
}

.carouselCard {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #ffffff;
}

.carouselImg {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

/* Arranging the cards relative to the circle */
.carouselCard:nth-child(1) {
    transform: rotateY(0deg) translateZ(500px);
    background-image: url(Christmas.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.carouselCard:nth-child(2) {
    transform: rotateY(120deg) translateZ(500px);
    background-image: url(Routine.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /* правая сторона */
}

.carouselCard:nth-child(3) {
    transform: rotateY(-120deg) translateZ(500px);
    background-image: url(https://cdn.glitch.global/b8defa2d-4490-42d6-b31d-00ba52aab25b/Construction.jpeg?v=1655286405417);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /* левая сторона */
}

.innerText {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 40px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(238, 231, 231, 0.7);
    color: #293462;
    opacity: 0;
    z-index: 2;
}

.innerText:hover {
    opacity: 1;
}

.slideHeader {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.description {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    font-weight: 100;
    text-decoration: underline;
    padding: 10px;
}

li {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: 500;
    padding: 7px;
}

.timerBtn {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: #293462;
    padding: 7px 18px;
    margin-top: 20px;
    z-index: 2px;
}

.timerBtn:hover {
    transform: scale(1.1);
}

.carouselBtns {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.carouselBtn {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: #293462;
    padding: 7px 18px;
}

.carouselBtn:hover {
    transform: scale(1.1);
}

.backBtnContainer {
    margin: 10px;
}

.backBtn {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 10px;
    text-transform: uppercase;
    background-image: linear-gradient( 135deg, #FFD3A5 10%, #FD6585 100%);
    animation: gradient 5s infinite linear;
    background-size: 500%;
}

@keyframes gradient {
    0% {background-position: 80%, 0%;}
    50% {background-position: 20%, 100%;}
    100% {background-position: 80%, 0%;}
}

.carouselBtn:hover,
.backBtn:hover,
.timerBtn:hover
{
    cursor: pointer;
}

.ps {
    font-family: 'Merriweather', serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 300;
    color: #293462;
    text-align: center;
    padding: 10px 15px 20px 15px;
}



/* Horizontal Adaptation */
@media all and (max-width: 500px) {
    body {
        min-height: 80vh;
    }

    .carousel {
        max-height: 85vh;
    }

    .header {
        font-size: 25px;
        margin-top: 30px;
    }

    .carouselCards {
        width: 180px;
        height: 290px;
        transform: translateZ(-100px);
        margin-top: 30px;
    }

    .carouselCard:nth-child(1) {
        transform: rotateY(0deg) translateZ(100px);
    }

    .carouselCard:nth-child(2) {
        transform: rotateY(120deg) translateZ(100px);
    }

    .carouselCard:nth-child(3) {
        transform: rotateY(240deg) translateZ(100px);
    }

    .innerText {
        padding: 10px 17px;
    }
    
    .slideHeader {
        font-size: 13px;
    }
    
    .description {
        font-size: 12px;
    }
    
    li {
        font-size: 9px;
        padding: 5px;
    }
    
    .timerBtn {
        font-size: 9px;
    }

    .carouselBtns {
        width: 200px;
    }
    
    .carouselBtn {
        font-size: 9px;
    }
    
    .backBtn {
        font-size: 9px;
        padding: 3px 10px;
    }
    
}
