@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAACA8;
    background-image: linear-gradient(650deg, #FAACA8 0%, #DDD6F3 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}

header h1 {
    font-family: 'Merriweather', serif;
    font-size: 28px;
    margin: auto;
    color: #293462;
}

.questionContainer {
    display: flex;
    flex-direction: column;
}

form {
    background-color: #fff;
    border-radius: 15px;
    padding: 70px;
    width: 450px;
    border: #293462 1px solid;
    margin: auto;
}

#question {
    font-family: 'Merriweather', serif; 
    font-size: 18px;
    letter-spacing: .7px;
    padding: 10px 15px;
    text-align: center;
    color: #293462;
}

input {
    margin: 7px;
}

#submit {
    font-family: 'Merriweather', serif; 
    font-size: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background-color: #FAACA8;
    padding: 8px 15px;
    width: 32%;
    margin: 7% 35%;
    color: #293462;
    border: none;
    border-radius: 15px;
}

#submit:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#show {
    display: none;
    font-size: 18px;
    font-family: 'Merriweather', serif; 
    text-align: center;
    margin-top: 1%;
    background-color: #DDD6F3;
    padding: 10px;
}

#assessment {
    display: none;
    font-size: 20px;
    color: #293462;
    font-family: 'Merriweather', serif; 
    text-align: center;
    margin-top: 5%;
    background-color: #FAACA8;
    padding: 10px;
}

#exitBtn {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #293462;
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px 18px;
    border: none;
    border-radius: 5px;
    margin: 30px;
}

#exitBtn:hover {
    transform: scale(1.2);
    background-color: #DDD6F3;
    cursor: pointer;
}



/* Mobile Adaptation */
@media all and (max-width: 500px) {
    header h1 {
        font-size: 19px;
    }

    form {
        padding: 40px;
        width: 350px;
    }
    
    #question {
        font-size: 15px;
        padding: 7px 10px;
    }
    
    #show,
    #assessment 
    {
        font-size: 15px;
    }
    
    #submit,
    #exitBtn{
        font-size: 13px;
    }
}











