body {
    background-image: url(https://images.unsplash.com/photo-1618811308896-d279d72fdf4d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dmljdG9yaWElMjBmYWxsc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #BB9981;
    margin: 0;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
}

#header {
    display: flex;
    justify-content: center;
}

#headerInput {
    display: flex;
    justify-content: center;
    /* border: red 3px solid; */
}

#whereWhen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tempContainer {
    display: flex;
    justify-content: center;
}

#nowContainer {
    display: flex;
    justify-content: space-evenly;
}

#lastContainer {
    display: flex;
    justify-content: center;
    /* border: red 3px solid; */
}

h1 {
    font-family: 'Cormorant', serif;
    font-size: 70px;
    text-shadow: 1px 1px #F0A500;
    font-style: italic;
    /* border: red 3px solid */
}

#input {
    padding: 10px;
    border-radius: 10px;
    border: #BB9981 3px solid;
    background-color: transparent;
    font-family: 'Cormorant', serif;
    font-size: 20px;
}

#input:focus {
    background-color: #fff;
}

p {
    font-family: 'Cormorant', serif;
    font-size: 40px;
    text-shadow: 1px 1px #F0A500;
}

#city {
    font-size: 50px;
    text-shadow: 3px 3px #F0A500;
}

#date {
    font-style: italic;
    margin: 0;
}

#temperature {
    font-size: 100px;
    margin: 0;
}

.backBtnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.backBtn {
    font-family: 'Cormorant', serif;
    font-size: 13px;
    padding: 7px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    background-image: linear-gradient( 135deg, #FFD3A5 10%, #FD6585 100%);
    animation: gradient 5s infinite linear;
    background-size: 500%;
}

.backBtn:hover {
    cursor: pointer;
}

@keyframes gradient {
    0% {background-position: 80%, 0%;}
    50% {background-position: 20%, 100%;}
    100% {background-position: 80%, 0%;}
}

/* добавила */
#icon {
    display: none;
}

.containerShow {
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
    display: none;
}
/*  */




@media all and (max-width: 800px){
    /* добавила */
    body {
        height: 150vh;
    }

    p {
        font-size: 27px;
    }
}

@media all and (max-width: 500px){
    h1 {
        font-size: 50px;
    }

    #nowContainer {
        flex-direction: column;
        align-items: center;
    }

    p {
        font-size: 25px;
    }

    .backBtn {
        font-size: 11px;
        /* padding: 7px 20px; */
    }
}
